@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: .4s;
    padding: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
}

.navigation { 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 100px;
    transition: all 0.5s;
    background: transparent;
}

.navigation .logo {
    margin-right: auto; 
}

.navigation .logo img{
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.logo span {
    color: black;
}

.navigation ul {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none;
    margin: 0; 
    padding: 0; 
    width: 100%; 
    margin-bottom: 30px;
}

.navigation ul li{
    margin-right: 120px;
    position: relative; 
}

.navigation ul li:last-child {
    margin-right: 0; 
}


.navigation ul li a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;
    text-decoration: none; 
}

.navigation ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px;
    background-color: #0808FF;
    transition: width 0.3s ease;
}

.navigation ul li a:hover::after {
    width: 100%; 
}

.nav-item.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #0808FF;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    background:#FFF;
    border-radius: 3px;
    margin: 5px auto;
    transition: all 0.3s;
}

@media (max-width:785px) {
    .navigation {
        padding: 18px 20px;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #163283;
        padding-top: 60px; 
        transition: 0.3s;
        display: flex; 
        align-items: center;
        justify-content: center;    
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 23px 0;
        display: flex; 
    }

    .nav-item a {
        color: #fff;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.5s;
        text-decoration: none;
        padding: 10px 20px; 
    }

    .nav-item a:hover::after {
        width: 100%; 
    }

    .navigation ul li{
        margin: 0;
        height: 50px;
    }

    .navigation ul li a::after {
        display: none;
    }
}

@media(max-width: 426px){
    .navigation .logo img{
        width: 140px;
        height: 230px;
    }
}

@media(max-width: 376px){
    .navigation .logo img{
        width: 130px;
        height: 230px;
    }
}


@media(max-width: 321px){
    .navigation .logo img{
        width: 120px;
        height: 200px;
    }
}

.banner_container{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),url('../images/bg/backgroundblue2.jpg');
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.banner_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin-left: 80px;
    margin-top: 40px;
}

.banner_text h1{
    font-size: 80px;
    color: #FFF;
    margin-top: 80px;
    margin-bottom: 30px;
    line-height: 95px;
}

.banner_text h2{
    font-size: 17px;
    color: #FFF;
    font-weight: 100;
}

.banner_text a {
    color: #FFF;
    font-size: 18px;
    background: #163283;
    border-radius: 5px;
    padding: 15px 38px;
    margin-top: 60px;
    transition: .4s;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: 30px;
}

.banner_icons img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    transition: transform .3s;
    cursor: pointer;
}

.banner_icons img:hover{
    transform: scale(1.1);
}

@media(max-width: 769px){
    .banner_text h1{
        font-size: 70px;
        margin-top: 75px;
    }

    .banner_text h2{
        font-size: 18px;
    }

    .banner_text{
        align-items: center;
        margin-left: 0;
        margin-top: 60px;
    }

    .banner_container{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .banner_icons {
        margin-left: 0;
    }
}

@media(max-width: 426px){

    .banner_text h1{
        font-size: 50px;
        line-height: 65px;
    }

    .banner_text h2{
        font-size: 16px;
        padding: 0 10px;
    }
}



.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-image: url(../images/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.about-content {
    max-width: 500px;
    margin-right: 100px;
}

.about-content h3{
    font-size: 17px;
    color: #fff;
}

.about-title {
    color: #1c40a9;
    font-size: 45px;
    margin-bottom: 30px;
}
.about-text {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
.highlight {
    color: #1c40a9;
}
.quote {
    color: #1c40a9;
    font-size: 20px;
    font-style: italic;
    margin-top: 50px;
}
.about-image {
    width: 280px;
    height: 360px;
    border: 3px solid #1c40a9;
}


.water_img {
    width: 100%;
    max-width: 450px;
    margin: auto;
    flex: 1;
    position: relative; /* Adicionado */
    overflow: hidden; /* Adicionado */
}

.swiper-container {
    width: 100%;
    height: 100%; /* Ajustado */
    max-width: 450px; /* Ajustado */
}

.swiper-slide {
    width: 100%;
    height: 100%; /* Ajustado */
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-slide img {
    width: 329px;
    height: 370px;
    object-fit: cover;
    vertical-align: middle; /* Ajustado */
    border: 2px solid #1c40a9;
    border-radius: 5px;
}

  /* Estilos para a paginação */
.swiper-pagination {
    position: relative; /* Mudado para relativo */
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Ajustado para espaço entre a imagem e a paginação */
}

.swiper-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #1c40a9;
}

@media(max-width: 769px){
    .about-content{
        flex-direction: column;
        margin: 0 0 50px 0;
    }
    
    .about-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-content h3{
        font-size: 17px;
    }

    .about-title {
        font-size: 50px;
    }

    .swiper-container {
        max-width: 300px; /* Ajustado */
    }

    .about-section {
        padding: 40px 20px 30px 20px;
    }
    
}

@media(max-width: 426px){
    .about-title {
        line-height: 60px;
    }
}

.about_2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 100px;
}

.about_2_image img{
    width: 407px;
    height: 396px;
    object-fit: cover;
    margin-top: 60px;
}

.about_2_text{
    max-width: 400px;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 60px;
}

.about_2_text h3{
    font-size: 40px;
    color: #1c40a9;
}

.about_2_text p{
    font-size: 16px;
    color: #fff;
    margin: 34px 0 58px 0; 
    line-height: 25px;
}

.about_2_text a{
    color: #fff;
    font-size: 18px;
    background: #163283;
    border-radius: 5px;
    padding: 14px 60px;
    transition: .4s;
}

video{
    border-radius: 10px;
    margin-bottom: 40px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    border: 2px solid #163283;
}

@media(max-width: 769px){

    .about_2{
        flex-direction: column;
    }

    video{
        width: 100%;
    }
    
    .about_2_text{
        margin: 0;
        text-align: center;
    }

    .about_2_line {
        margin: 5px 0 30px 0;
    }

}
@media(max-width: 376px){

    .about_2_text h3{
        font-size: 35px;
    }

    .about_2_text p{
        font-size: 13px;
        line-height: 20px;
    }
}

@media(max-width: 321px){
    .about_2{
        margin: 0;
    }

    .about_2_text a{
        font-size: 14px;
        padding: 11px 50px;
    }
}

.clients-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px 80px 16px;
    background-image: url(../images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: #163283;
    font-size: 30px;
    margin-bottom: 44px;
    text-align: center;
    font-weight: bold;
}

.clients-container {
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.clients-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.client-card {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: #163283;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
    z-index: 0;
}

.client-card.active {
    opacity: 1;
    z-index: 10;
}

.client-card.inactive {
    opacity: 0;
    z-index: 0;
}

.client-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.client-image {
    border-radius: 50%;
    border: 2px solid white;
    padding: 3px;
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.client-text h3 {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.client-text p {
    font-size: 15px;
}

.client-message {
    text-align: center;
    font-size: 15px;
    padding: 0 50px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-left: 30px;
}

.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.divider {
    width: 2px;
    height: 65px;
    background-color: gray;
    opacity: 0.4;
}

.cta-button{
    color: #fff;
    font-size: 18px;
    background: #163283;
    border-radius: 5px;
    padding: 14px 60px;
    transition: .4s;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) { 
    .controls {
        flex-direction: row;
        justify-content: center;
        gap: 8px; 
    }

    .divider {
        width: 65px;
        height: 2px;
    }

    .title {
        font-size: 40px;
    }

    .clients-container {
        height: 290px;
    }

    .client-message {
        padding: 0;
        margin: 15px 0;
    }

    .client-card {
        justify-content: center;
    }

    .clients-section {
        padding: 30px 16px 80px 16px;
    }
    
}

@media (min-width: 769px) {
    .clients-container {
        max-width: 1024px;
        flex-direction: row;
    }

    .client-card {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .client-message {
        text-align: left;
        flex: 1;
        padding-right: 16px;
    }
}

@media (max-width: 321px){
    .title {
        font-size: 35px;
    }
}

@media (max-width: 321px){
    .clientMessage {
        font-size: 14px;
    }
} 

.countSection {
    background-color: #163283;
    padding: 90px 0;
    text-align: center;
    color: #fff;
}

.countContainer {
    max-width: 1280px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px; 
}

@media (min-width: 640px) {
    .countContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

.countItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countNumber {
    font-size: 3.75rem; 
    font-weight: bold;
    color: #fff;
}

.countText {
    font-size: 1.125rem; 
    color: #fff; 
}

.responsive-atuation {
    background-image: url(../images/bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 80px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 30px;
    color: #163283;
    margin-bottom: 70px;
}

.subtitle {
    font-size: 17px;
}

.container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap; /* Permite a reorganização dos itens em telas menores */
}

.area-container {
    background: #163283;
    padding: 70px 70px 70px 30px;
    border: 2px solid #163283;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    text-align: left;
}

.area-title {
    font-size: 37px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.area-subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #090B10;
    margin-bottom: 30px;
    letter-spacing: 0.8px;
}

.description {
    font-size: 15px;
    color: #d5d5d5;
    margin-bottom: 20px;
}

.button {
    background-color: #090B10;
    color: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    margin-top: 30px;
}

.buttons-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.selection-button {
    background-color: #163283;
    color: white;
    padding: 18px 18px 18px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    max-width: 270px;
    width: 100%;  /* Garante que os botões ocupem toda a largura disponível */
    text-align: start;
}

.selection-button img {
    width: 37px;
    height: 37px;
    margin-bottom: 10px;
}

.selection-button h3 {
    font-size: 23px;
}

.selection-button p {
    font-size: 14px;
}

.selection-button.active, .selection-button:hover {
    background-color: #163283;
}

/* Responsividade */
@media (max-width: 1024px) {
    .responsive-atuation {
        padding: 40px 10px;
    }

    .title {
        font-size: 26px;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .area-container {
        width: 90%;
    }

    .buttons-grid {
        flex-direction: row;
        max-width: 100%;
    }
}

@media (max-width: 769px) {

    .container {
        flex-direction: column;
        width: 100%;
    }

    .buttons-grid {
        flex-direction: row;
        max-width: 650px;
    }

    .title {
        margin-top: 40px;
        font-size: 30px;
    }

    .buttons-grid {
        flex-direction: row; 
        width: 100%;
        gap: 15px;
    }

    .selection-button {
        width: 100%; /* Remove a largura 100% para que os botões se ajustem melhor */
        max-width: 270px; /* Limita a largura dos botões */
        padding: 10px 15px; /* Ajuste no padding para caber melhor nas telas pequenas */
    }
    

    .selection-button h3 {
        font-size: 18px; /* Ajusta o tamanho da fonte do título */
    }

    .selection-button p {
        font-size: 14px; /* Ajusta o tamanho da fonte da descrição */
    }

    .selection-button img {
        width: 30px; /* Ajusta o tamanho da imagem */
        height: 30px;
    }

    .selection-button {
        padding: 10px 45px 10px 10px; /* Ajuste para garantir que o botão não fique muito grande */
    }
}

@media (max-width: 480px) {
    .area-container {
        width: 100%;
        padding: 30px;
    }

    .buttons-grid {
        width: 100%;
    }
    

    .selection-button h3 {
        font-size: 13px; /* Ajusta o tamanho da fonte do título */
    }

    .selection-button p {
        display: none;
        font-size: 12px; /* Ajusta o tamanho da fonte da descrição */
    }

    .selection-button img {
        width: 24px; /* Ajusta o tamanho da imagem */
        height: 24px;
    }

    .selection-button {
        padding: 10px 15px; /* Ajuste para garantir que o botão não fique muito grande */
    }
}

@media (max-width: 376px) {
    .selection-button h3 {
        font-size: 13px;
    }

    .selection-button {
        padding: 15px 15px 15px 10px;
    }
}




.enemies_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/bg4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}


.enemies_text h2{
    color: #163283;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}


.enemies_text p{
    font-size: 15px;
    letter-spacing: 2px;
    color: #000;
    width: 300px;
}

.enemies_text img{
    width: 48px;
    height: 59px;
    margin: 8px 0;
    margin-bottom: 20px;
}

.enemies_content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.enemies_1{
    text-align: center;
    max-width: 353px;
    width: 100%;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.enemies_1 img{
    width: 353px;
    height: 212px;
    border: 2px solid #163283;
    border-radius: 5px;
}

.enemies_1 h3{
    text-align: center;
    font-size: 27px;
    margin-top: 10px;
    font-weight: 500;
    color: #163283;
    text-transform: uppercase;
}

.enemies_1 p{
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
}

.red{
    color: red;
}

.blue{
    color: #163283;
}

.enemies_1_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


@media(max-width: 769px){
    .enemies_text h2{
        font-size: 30px;
    }

    
    .enemies_container{
        padding: 30px 0;
    }
}


@media(max-width: 426px){
    .enemies_content{
        max-width: 300px;
        width: 100%;
    }
    
}

@media(max-width: 376px){
    .enemies_text img{
        width: 45px;
        height: 55px;
        margin: 8px 0;
    }

    .enemies_1{
        max-width: 280px;
    }

    .enemies_text h2{
        margin-bottom: 30px;
    }
    
}   

@media(max-width: 321px){
    .enemies_1 img{
        width: 300px;
        height: 212px;
    }

    .enemies_content{
        max-width: 250px;
    }
}

.faqSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    justify-content: center;
    background-color: #163283;
    background-size: cover;
}

.faqTitle {
    margin: 0 0 60px 0;
    color: #090B10;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.faqTitle h2 {
    font-size: 30px;
    font-weight: bold;
}

.faqContainer {
    width: 100%;
    max-width: 658px;
    margin: 0 auto;
}

.faqItem {
    display: flex;
    align-items: start;
    gap: 16px;
    margin-bottom: 30px;
}

.faqText {
    background-color: #090B10; 
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    font-size: 17px;
}

.faqAnswer {
    background-color: #ffff; 
    color: #000; 
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    font-size: 17px;
}

.faqIcon {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.faqIconBlack {
    background-color: #090B10;
    border-radius: 50%;
    padding: 12px;
}



.faqButton{
    background-color: #090B10;
    color: white;
    padding: 13px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.faqItem img{
    width: 60px;
    height: 60px;
}

@media (max-width: 769px) {
    .faqTitle h2 {
        font-size: 30px;
    }
}

@media (max-width: 426px){
    .faqTitle h2{
        font-size: 30px;
    }

    .faqContainer {
        width: 100%;
        max-width: 658px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .faqSection{
        padding: 20px 0 30px 0;
    }
    
}


.process_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #090B10;
    padding-bottom: 70px;
}

.process_text{
    max-width: 600px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 45px;
}

.process_text h2 {
    color: #163283;
    font-size: 30px;
    margin-bottom: 44px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


.process_about{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.process_about_content{
    display: flex;
    justify-content: center;
    max-width: 343px;
    margin: 30px 40px 30px 40px;
    width: 100%;
}

.process_about_content img {
    width: 50px;
    height: 50px;
    margin-top: 7px;
    margin-right: 10px;
}

.process_about_content h4 {
    font-size: 23px;
    color: #FFF;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.process_about_content p {
    font-size: 15px;
    color: #FFF;
}


@media(max-width: 376px){
    .process_about_content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}   

/* Estilização do Footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #163283;
    padding: 15px 0;
    color: #FFF;
    flex-wrap: wrap;
    text-align: center;
}

/* Link de Políticas de Privacidade */
.footer-link {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

/* Ícones das redes sociais */
.social-icons {
    display: flex;
    gap: 5px;
}

.social-icons img {
    width: 27px;
    height: 27px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover img {
    transform: scale(1.1);
}

/* Texto de direitos autorais */
.copyright {
    font-size: 14px;
    color: #FFF;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 10px;
    }
}


.whats{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;

}

.whats img {
    width: 70px;
    height: 70px;
    background-color: #1c40ab;
    border-radius: 100%;
}



@media(max-width: 426px){
    .whats {
        bottom: 20px;
        right: 20px; 
    }
    .whats img {
        width: 50px;
        height: 50px;
    }
}

@media(max-width: 321px){
    .whats img {
        width: 45px;
        height: 45px;
    }
}


[data-anime] {
    opacity: 0;
    transition: .8s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 30px, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}



/* Barra de Rolagem */


/* Fundo que corre */
::-webkit-scrollbar-track {
    background-color: #FFF;
  }
  /* Fundo que corre */
  
  ::-webkit-scrollbar {
    width: 6px;
    background: #002449;
  }
  
  /* Linha que desce */
  ::-webkit-scrollbar-thumb {
    background: #002449;
    border-radius: 5px;
  }
  /* Linha que desce*/
  
  
  /* Barra de Rolagem */

  @media(max-width: 768px) {
    ::-webkit-scrollbar {
        display: none; 
    }
}